nav.navbar {
  width: 100%;

  .social_media_links {
    background-color: var(--main-blue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;

    &.scrolled {
      top: -50px; // Adjust based on your layout
    }

    .social_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;

      .icons_container {
        display: flex;
        align-items: center;
        gap: 14px;

        .icon {
          svg {
            color: var(--main-white);
            width: 24px;
            height: 24px;
          }
        }
      }

      .join_us {
        button {
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          gap: 10px;

          a {
            color: var(--main-white);
            text-decoration: none;
            font-size: 16px;
            font-weight: var(--meduim);
          }

          img {
          }
        }
      }
    }
  }

  .sec_navbar {
    transition: padding 0.3s, top 0.3s;
    position: relative;

    &.scrolled {
      padding-top: 60px;
    }

    .nav {
      background-color: var(--main-white);
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 1px 2px 0px #0000004d;
    }
    .wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
      padding-bottom: 15px;
      transition: padding 0.3s, top 0.3s;
      width: 100%;
    }

    .pages_links {
      ul {
        display: flex;
        gap: 22px;
        padding: 0;
        margin: 0;

        li {
          margin: 0;
          list-style-type: none;

          a {
            text-decoration: none;
            color: var(--main-black);
            font-size: var(--size-20);
            font-weight: var(--meduim);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
          }
        }

        li.menu {
          list-style: none;
          display: flex;
          align-items: center;
          gap: 5px;
          transition: all 0.3s ease-in-out;
          position: relative;
          user-select: none;
          a {
            p {
              margin: 0;
              transition: all 0.3s ease-in-out;
            }
          }

          svg {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;
          }

          ul.drop_down {
            display: block;
            opacity: 1;
            position: absolute;
            top: 70px;
            right: -50px;
            background-color: var(--main-white);
            padding: 0;
            margin: 0;
            width: 200px;
            z-index: 999;

            li {
              padding: 12px;
              border-bottom: 1px solid var(--main-blue);
              transition: all 0.3s ease-in-out;
              color: var(--main-blue);
              a {
                color: var(--main-blue);
                transition: all 0.3s ease-in-out;
              }

              &:hover {
                background-color: #e1f5f8;
              }
            }
          }
        }

        li.menu.active {
          a {
            p {
              color: var(--sec-blue);
            }
          }
          svg {
            transform: rotate(180deg);
            color: var(--sec-blue);
          }
        }
      }
    }
  }
}
