section.contact {
  margin-top: 120px;
  .section_title {
    color: var(--main-blue);
    margin-bottom: 60px;
    .title {
      margin-bottom: 20px;

      h1 {
        margin: 0;
        font-size: var(--size-48);
        font-weight: var(--bold);
      }
    }

    .desc {
      p {
        margin: 0;
        font-size: var(--size-24);
      }
    }
  }

  .boxes_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 60px;

    .box {
      width: 357px;
      height: 227px;

      border-radius: 8px;
      background-color: var(--sec-white-300);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: -113px;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: var(--sec-blue);
        border-radius: 50%;
        z-index: 0;
      }

      .icon_container {
        position: relative;
        z-index: 22;
        background-color: var(--main-blue);
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        margin-bottom: auto;
        margin-top: 27px;
        svg {
          margin: auto;
          color: var(--main-white);
          width: 26px;
          height: 26px;
        }
      }

      .box_title {
        p {
          margin: 0;
          color: var(--gray-900);
          font-size: var(--size-24);
          font-weight: var(--regular);
        }
      }

      .desc {
        p {
          margin: 0;
          margin-bottom: 27px;
          color: var(--gray-600);
        }
      }
    }
  }

  .form_section_container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 24px;

    form {
      width: 641px;
      .input_container {
        position: relative;
        width: 100%;
        margin-bottom: 12px;
        textarea,
        input {
          width: 100%;
          padding-right: 48px;

          border-radius: 8px;
          padding-top: 12px;
          padding-bottom: 12px;
          border: none;
          background-color: #e2f6f9;

          &:focus {
            border: none;
            box-shadow: none;
          }
        }

        textarea {
          height: 173px;
        }

        .icon_container {
          position: absolute;
          top: 12px;
          right: 15px;
          svg {
          }
        }
      }
    }

    .send_btn {
      margin-top: 32px;

      button {
        color: var(--main-white);
        border: none;
        background-color: var(--main-blue);
        text-align: center;
        font-size: var(--size-32);
        border-radius: 8px;
        padding: 12px 20px;
        width: 357px;
      }
    }

    .map_container {
      width: 50%;
      height: 440px;
      border-radius: 12px;
    }
  }
}

@media screen and (max-width: 992px) {
  section.contact {
    margin-top: 32px;
    .section_title {
      color: var(--main-blue);
      margin-bottom: 24px;
      .title {
        margin-bottom: 12px;

        h1 {
          font-size: var(--size-24);
        }
      }

      .desc {
        p {
          margin: 0;
          font-size: 18px;
        }
      }
    }

    .boxes_container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;
      margin-bottom: 32px;
      flex-direction: column;
      flex-wrap: wrap;

      .box {
        width: 343px;
        height: 218.1px;

        .icon_container {
          svg {
          }
        }

        .box_title {
          p {
            margin: 0;
            color: var(--gray-900);
            font-size: var(--size-24);
            font-weight: var(--regular);
          }
        }

        .desc {
          p {
          }
        }
      }
    }

    .form_section_container {
      display: flex;
      width: 100%;
      align-items: flex-start;
      gap: 24px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;

      form {
        width: 100%;
        margin-top: 24px;
        .input_container {
          margin-bottom: 8px;
          textarea,
          input {
            &:focus {
            }
          }

          textarea {
          }

          .icon_container {
            svg {
            }
          }
        }
      }

      .send_btn {
        margin-top: 0px;

        button {
          color: var(--main-white);
          border: none;
          background-color: var(--main-blue);
          text-align: center;
          font-size: var(--size-20);
          border-radius: 8px;
          padding: 12px;
          width: 167px;
        }
      }

      .map_container {
        width: 100%;
        height: 440px;

        border-radius: 12px;
      }
    }
  }
}
